#myPage .view {
    /*background-image: url("/backgroundImg.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    height: 100vh;
}

#myPage .gradient {
    background: -webkit-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.7),
            rgba(72, 15, 144, 0.4) 100%
    );
    background: -webkit-gradient(
            linear,
            45deg,
            from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
    );
    background: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.7),
            rgba(72, 15, 144, 0.4) 100%
    );
}

#myPage .card {
    background-color: rgba(126, 123, 215, 0.2);
}

#myPage h6 {
    line-height: 1.7;
}

#myPage .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#myPage .top-nav-collapse {
    background: #424f95 !important;
}

@media (max-width: 768px) {
    #myPage .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
}

#myPage label {
    color: #fff !important;
}


html {
    scroll-behavior: smooth;
}
body{
    /*position: relative;*/
    /*background-image: url("/backgroundImg.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    height: 100vh;
}
body, html, header, .view{
    /*text-align: center;*/
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

div{
    display: block;
}
.navbar{
    background-color: transparent;
}
#nav-name{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 1.0em;
    margin-left: 5vw;
}

.top-nav-collapse {
    background-color: #3354A6;
}

.navbar-collapse{
    font-size: 1.0em;
}
.nav-item{
    border-radius: 10px;
}
.nav-item:hover{
    background-color: #1C2331;
    border-radius: 20px;
}
#icons:hover{
    background-color: transparent;
    border-radius: 0px;
}

.content-center{
    position: relative;
    top: 15%;
    text-align: center;
}
.card{
    border-radius: 10px;
}
#card-h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.progress-container p{
    font-family: 'Titillium Web', sans-serif;
}

code {
    color: #ffeeb2;
    font-weight: bold;
}

.cardInfo {
    text-align: center;
}
